/*======================================== Other Colors and Background =========================================== */
.HexColor-1 {
    color: #666666;
}
.HexColor-2 {
    color: #E6E6E6;
}
.HexColor-3 {
    color: #FFFFFF;
}
.HexColor-1-bg {
    background: #666666;
}
.HexColor-2-bg {
    background: #E6E6E6;
}
.HexColor-3-bg {
    background: #FFFFFF;
}
/*============================================= Paleta #1 Color ================================================ */
.HexColor-1-1-1 {
    color: #F44336;
}
.HexColor-1-1-2 {
    color: #E53935;
}
.HexColor-1-1-3 {
    color: #C62828;
}
.HexColor-1-1-4 {
    color: #EF5350;
}
.HexColor-1-1-5 {
    color: #E57373;
}
.HexColor-1-1-6 {
    color: #EF9A9A;
}
/*==*/
.HexColor-1-2-1 {
    color: #FF5722;
}
.HexColor-1-2-2 {
    color: #F4511E;
}
.HexColor-1-2-3 {
    color: #E64A19;
}
.HexColor-1-2-4 {
    color: #FF7043;
}
.HexColor-1-2-5 {
    color: #FF8A65;
}
.HexColor-1-2-6 {
    color: #FFAB91;
}
/*==*/
.HexColor-1-3-1 {
    color: #8491B3;
}
.HexColor-1-3-2 {
    color: #7A8AA4;
}
.HexColor-1-3-3 {
    color: #6C7D92;
}
.HexColor-1-3-4 {
    color: #8A96A4;
}
.HexColor-1-3-5 {
    color: #9CA4AE;
}
.HexColor-1-3-6 {
    color: #B6BABE;
}
/*==*/
.HexColor-1-4-1 {
    color: #009688;
}
.HexColor-1-4-2 {
    color: #00897B;
}
.HexColor-1-4-3 {
    color: #00796B;
}
.HexColor-1-4-4 {
    color: #4DB6AC;
}
.HexColor-1-4-5 {
    color: #80CBC4;
}
.HexColor-1-4-6 {
    color: #B2DFDB;
}
/*============================================= Paleta #2 Color ================================================ */
.HexColor-2-1-1 {
    color: #4CAF50;
}
.HexColor-2-1-2 {
    color: #43A047;
}
.HexColor-2-1-3 {
    color: #388E3C;
}
.HexColor-2-1-4 {
    color: #66BB6A;
}
.HexColor-2-1-5 {
    color: #81C784;
}
.HexColor-2-1-6 {
    color: #A5D6A7;
}
/*==*/
.HexColor-2-2-1 {
    color: #673AB7;
}
.HexColor-2-2-2 {
    color: #5E35B1;
}
.HexColor-2-2-3 {
    color: #512DA8;
}
.HexColor-2-2-4 {
    color: #9575CD;
}
.HexColor-2-2-5 {
    color: #B39DDB;
}
.HexColor-2-2-6 {
    color: #D1C4E9;
}
/*==*/
.HexColor-2-3-1 {
    color: #05D640;
}
.HexColor-2-3-2 {
    color: #1BD135;
}
.HexColor-2-3-3 {
    color: #17BF27;
}
.HexColor-2-3-4 {
    color: #54D15F;
}
.HexColor-2-3-5 {
    color: #77DB80;
}
.HexColor-2-3-6 {
    color: #A5EBA5;
}
/*==*/
.HexColor-2-4-1 {
    color: #FFC107;
}
.HexColor-2-4-2 {
    color: #FFB300;
}
.HexColor-2-4-3 {
    color: #FFA000;
}
.HexColor-2-4-4 {
    color: #FFCA28;
}
.HexColor-2-4-5 {
    color: #FFD54F;
}
.HexColor-2-4-6 {
    color: #FFE082;
}
/*============================================= Paleta #3 Color ================================================ */
.HexColor-3-1-1 {
    color: #FF9800;
}
.HexColor-3-1-2 {
    color: #FB8C00;
}
.HexColor-3-1-3 {
    color: #F57C00;
}
.HexColor-3-1-4 {
    color: #FFA726;
}
.HexColor-3-1-5 {
    color: #FFB74D;
}
.HexColor-3-1-6 {
    color: #FFCC80;
}
/*==*/
.HexColor-3-2-1 {
    color: #2196F3;
}
.HexColor-3-2-2 {
    color: #1E88E5;
}
.HexColor-3-2-3 {
    color: #1976D2;
}
.HexColor-3-2-4 {
    color: #42A5F5;
}
.HexColor-3-2-5 {
    color: #64B5F6;
}
.HexColor-3-2-6 {
    color: #90CAF9;
}
/*==*/
.HexColor-3-3-1 {
    color: #00BCD4;
}
.HexColor-3-3-2 {
    color: #00ACC1;
}
.HexColor-3-3-3 {
    color: #0097A7;
}
.HexColor-3-3-4 {
    color: #4DD0E1;
}
.HexColor-3-3-5 {
    color: #80DEEA;
}
.HexColor-3-3-6 {
    color: #B2EBF2;
}
/*==*/
.HexColor-3-4-1 {
    color: #1B2431;
}
.HexColor-3-4-2 {
    color: #151D25;
}
.HexColor-3-4-3 {
    color: #000000;
}
.HexColor-3-4-4 {
    color: #222C3C;
}
.HexColor-3-4-5 {
    color: #273142;
}
.HexColor-3-4-6 {
    color: #313D4F;
}

/*============================================= Paleta #1 Background Color ================================================ */
.HexColor-1-1-1-bg {
    background: #F44336;
}
.HexColor-1-1-2-bg {
    background: #E53935;
}
.HexColor-1-1-3-bg {
    background: #C62828;
}
.HexColor-1-1-4-bg {
    background: #EF5350;
}
.HexColor-1-1-5-bg {
    background: #E57373;
}
.HexColor-1-1-6-bg {
    background: #EF9A9A;
}
/*==*/
.HexColor-1-2-1-bg {
    background: #FF5722;
}
.HexColor-1-2-2-bg {
    background: #F4511E;
}
.HexColor-1-2-3-bg {
    background: #E64A19;
}
.HexColor-1-2-4-bg {
    background: #FF7043;
}
.HexColor-1-2-5-bg {
    background: #FF8A65;
}
.HexColor-1-2-6-bg {
    background: #FFAB91;
}
/*==*/
.HexColor-1-3-1-bg { /*COLOR MENU*/
    background: #8491B3;
}
.HexColor-1-3-2-bg {
    background: #7A8AA4;
}
.HexColor-1-3-3-bg {
    background: #6C7D92;
}
.HexColor-1-3-4-bg {
    background: #8A96A4;
}
.HexColor-1-3-5-bg {
    background: #9CA4AE;
}
.HexColor-1-3-6-bg {
    background: #B6BABE;
}
/*==*/
.HexColor-1-4-1-bg {
    background: #009688;
}
.HexColor-1-4-2-bg {
    background: #00897B;
}
.HexColor-1-4-3-bg {
    background: #00796B;
}
.HexColor-1-4-4-bg {
    background: #4DB6AC;
}
.HexColor-1-4-5-bg {
    background: #80CBC4;
}
.HexColor-1-4-6-bg {
    background: #B2DFDB;
}
/*============================================= Paleta #2 Background Color ================================================ */
.HexColor-2-1-1-bg {
    background: #4CAF50;
}
.HexColor-2-1-2-bg {
    background: #43A047;
}
.HexColor-2-1-3-bg {
    background: #388E3C;
}
.HexColor-2-1-4-bg {
    background: #66BB6A;
}
.HexColor-2-1-5-bg {
    background: #81C784;
}
.HexColor-2-1-6-bg {
    background: #A5D6A7;
}
/*==*/
.HexColor-2-2-1-bg {
    background: #673AB7;
}
.HexColor-2-2-2-bg {
    background: #5E35B1;
}
.HexColor-2-2-3-bg {
    background: #512DA8;
}
.HexColor-2-2-4-bg {
    background: #9575CD;
}
.HexColor-2-2-5-bg {
    background: #B39DDB;
}
.HexColor-2-2-6-bg {
    background: #D1C4E9;
}
/*==*/
.HexColor-2-3-1-bg {
    background: #05D640;
}
.HexColor-2-3-2-bg {
    background: #1BD135;
}
.HexColor-2-3-3-bg {
    background: #17BF27;
}
.HexColor-2-3-4-bg {
    background: #54D15F;
}
.HexColor-2-3-5-bg {
    background: #77DB80;
}
.HexColor-2-3-6-bg {
    background: #A5EBA5;
}
/*==*/
.HexColor-2-4-1-bg {
    background: #FFC107;
}
.HexColor-2-4-2-bg {
    background: #FFB300;
}
.HexColor-2-4-3-bg {
    background: #FFA000;
}
.HexColor-2-4-4-bg {
    background: #FFCA28;
}
.HexColor-2-4-5-bg {
    background: #FFD54F;
}
.HexColor-2-4-6-bg {
    background: #FFE082;
}
/*============================================= Paleta #3 Background Color ================================================ */
.HexColor-3-1-1-bg {
    background: #FF9800;
}
.HexColor-3-1-2-bg {
    background: #FB8C00;
}
.HexColor-3-1-3-bg {
    background: #F57C00;
}
.HexColor-3-1-4-bg {
    background: #FFA726;
}
.HexColor-3-1-5-bg {
    background: #FFB74D;
}
.HexColor-3-1-6-bg {
    background: #FFCC80;
}
/*==*/
.HexColor-3-2-1-bg {
    background: #2196F3;
}
.HexColor-3-2-2-bg {
    background: #1E88E5;
}
.HexColor-3-2-3-bg {
    background: #1976D2;
}
.HexColor-3-2-4-bg {
    background: #42A5F5;
}
.HexColor-3-2-5-bg {
    background: #64B5F6;
}
.HexColor-3-2-6-bg {
    background: #90CAF9;
}
/*==*/
.HexColor-3-3-1-bg {
    background: #00BCD4;
}
.HexColor-3-3-2-bg {
    background: #00ACC1;
}
.HexColor-3-3-3-bg {
    background: #0097A7;
}
.HexColor-3-3-4-bg {
    background: #4DD0E1;
}
.HexColor-3-3-5-bg {
    background: #80DEEA;
}
.HexColor-3-3-6-bg {
    color: #B2EBF2;
}
/*==*/
.HexColor-3-4-1-bg { /*FONDO MENU Y BODY*/
    background: #1B2431;
}
.HexColor-3-4-2-bg {
    background: #151D25;
}
.HexColor-3-4-3-bg {
    background: #000000;
}
.HexColor-3-4-4-bg {
    background: #222C3C;
}
.HexColor-3-4-5-bg { /*FONDO FOOTER*/
    background: #273142;
}
.HexColor-3-4-6-bg {
    background: #313D4F;
}


